{% extends "base_layout.html" %}
{% block title %} {{ticker}} Financials {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
        <img src="{{ chart_url }}" />
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">As Of</th>
            <th scope="col">Revenue</th>
            <th scope="col">Revenue Growth</th>
            <th scope="col">EPS</th>
          </tr>
        </thead>
        <tbody>
          {% for quarter in financials %}

            <tr>
              <th scope="row">{{ quarter["date"] }}</th>
              <td>{{ "${:,.2f}".format(quarter["Revenue"] | float) }}</td>
              <td>{{ quarter["Revenue Growth"] | float }}</td>

              <td>${{ quarter["EPS"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}